body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  color: #111;

  display: flex;
  justify-content: center;   /* 🔥 Tengah horizontal */
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background-color: #1e40af;
  color: white;
  padding: 10px;
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  color: #111;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;   /* 🔥 AUTO bikin ke tengah */
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;   /* 🔥 ini penting */
  font-size: 14px;
}


button {
  width: 100%;
  padding: 12px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #15803d;
}

.riwayat {
  margin-top: 25px;
}

.card {
  background: #f8fafc;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  border-left: 5px solid #16a34a;
}

.card small {
  color: gray;
}

.table-wrapper {
    width: 100%;
  overflow-x: auto;
  margin-top: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  background: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px 14px;
  text-align: center;
  white-space: nowrap;
}

th {
  background-color: #16a34a;
  color: white;
}


tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

tbody tr:hover {
  background-color: #f1f5f9;
}
@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }

  input,
  select,
  button {
    font-size: 14px;
    padding: 10px;
  }

  th, td {
    font-size: 12px;
    padding: 6px;
  }
}


